.DS*
._.DS*
*.diff
GLM
ELCOM
libaed-*
libaed2
libaed2-plus
libplot
libutil
binaries
cur_state.log
*-bak
*.mod
*.o
*.a
*.so
*.dylib
*.dll
*.i90
.*.swp
*.log
fabm-git
gotm-*
fabm-schism
schism
modflow6
swan
phreeqcrm
delft3d
telemac
tuflowfv-svn*
tuflowfv-lib*
tuflowfv
