.DS*
._.DS*
*.diff
GLM*
ELCOM
libaed-*
libaed2
libaed2-plus
libplot
libutil
binaries
fabm-git
fabm-schism
gotm-*
*-bak
*.mod
*.o
*.a
*.so
*.dylib
*.i90
.*.swp
tuflowfv-svn*
tuflowfv-lib*
schism
TestSets
aed_dbase
sim*
swan
